.blog_text{
  text-align: center;
}
.counter_likes{
  border: 1px solid rgb(141, 146, 143);
  width: 60px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  display: block;
  margin: 6px auto 0px auto;
}