.nav {
  grid-area: navBar;
  background-color: rgba(59, 68, 68, 0.445);
}



.nav a {
  color: white;
  text-decoration: none;

}

.nav .link_1 .active_link_1{
    color: gold;
}

.nav .link_2 .active_link_2{
    color: gold;
}

.link_setting{
  margin-top: 30px;
}

.navbar_friend_h3{
margin: 0 auto;
 grid-area: f;
}

.navbar_friends{
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-columns: 2fr 2fr 2fr;
  grid-template-areas: 
  "f f f"
  "a b c";
}

.nikita{
grid-area: a;
text-align: center;
}

.nikita:before{
  content: "";
  display: block;
width: 50px;
height: 50px;
border: 0px solid rgba(68, 134, 136, 0.267);
border-radius: 50%;
margin: 0 auto;
background-color: orange;
margin-bottom: 3px;
}
.will{
grid-area: b;
text-align: center;
}

.will:before{
  content: "";
  display: block;
width: 50px;
height: 50px;
border: 0px solid rgba(68, 134, 136, 0.267);
border-radius: 50%;
margin: 0 auto;
background-color: orange;
margin-bottom: 3px;

}


.tom{
  grid-area: c;
  text-align: center;
}

.tom:before{
  content: "";
  display: block;
width: 50px;
height: 50px;
border: 0px solid rgba(68, 134, 136, 0.267);
border-radius: 50%;
margin: 0 auto;
background-color: orange;
margin-bottom: 3px;

}