.app-wrapper{
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 
  "h h h"
  "navBar c rightBar";
  height: 100vh ;
}

.content-wrapper{
  background-color: rgba(68, 134, 136, 0.267);

}

