.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c";
 
}

.header{
   grid-area: h;
   background-color: orange;

}

.nav{
grid-area: n;
background-color: orangered;
}

.content{
grid-area: c;
background-color: #5484;
}